front/node_modules
front/.pnp
front/.pnp.js
front/coverage
front/build
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

web/node_modules
web/public/hot
web/public/storage
web/storage/*.key
web/vendor
web/.env
web/.env.backup
web/.phpunit.result.cache
web/docker-compose.override.yml
web/Homestead.json
web/Homestead.yaml
web/npm-debug.log
web/yarn-error.log


vendor/
node_modules/
